extends layout

block content
  h1= title
  //- p Welcome to #{title}
  script.
    function viewCard(e){
      var cardNo = e.target.getAttribute('cardno');
      var cardSelected = cards[cardNo - 1];
      $('#modName').html(cardSelected.name);
      $('#modCatchphrase').html(cardSelected.company.catchPhrase);
      $('#modBS').html(cardSelected.company.bs);
      $('#modPhone').html(cardSelected.phone);
      $('#modEmail').html(cardSelected.email);
      $('#modWebsite').html(cardSelected.website);
      $('#myModal').modal();
    }
    var cards = []; // keep the cards here
    $.getJSON( "http://jsonplaceholder.typicode.com/users", function( data ) {
      /*console.log(data);*/
      var markup = [];
      $.each( data, function() {
        cards.push(this);
        var personName = this.name;
        var companyName = this.company.name;
        var personPhone = this.phone;
        var personEmail = this.email;
        var cardId = this.id;
        var newCard = '<li cardno="'+cardId+'" id="person'+cardId+'" class="tr" itemscope itemtype="http://schema.org/Person">'+
              '<span cardno="'+cardId+'" class="td">'+
                '<span cardno="'+cardId+'" class="label">Name:</span>'+
                '<span cardno="'+cardId+'" class="data" itemprop="name" aria-labelledby="th-name">'+personName+'</span>'+
              '</span>'+
              '<span cardno="'+cardId+'" class="td" itemscope itemtype="http://schema.org/Organization">'+
                '<span cardno="'+cardId+'" class="label">Organisation:</span>'+
                '<span cardno="'+cardId+'" class="data" itemprop="name" aria-labelledby="th-org">'+companyName+'</span>'+
              '</span>'+
              '<span cardno="'+cardId+'" class="td">'+
                '<span cardno="'+cardId+'" class="label">Phone:</span>'+
                '<span cardno="'+cardId+'" class="data" itemprop="telephone" aria-labelledby="th-phone">'+personPhone+'</span>'+
              '</span>'+
              '<span cardno="'+cardId+'" class="td">'+
                '<span cardno="'+cardId+'" class="label">Email:</span>'+
                '<span cardno="'+cardId+'" class="data" itemprop="email" aria-labelledby="th-email"><a href="mailto:'+personEmail+'">Email</a></span>'+
              '</span>'+
            '</li>';
        markup.push(newCard)
      });
      markup = markup.join("")
      $( ".tbody" ).append( markup );
      $( ".tr" ).click(viewCard);
    });
  <div class="contacts table" aria-labelledby="contacts-caption-text">
  <span class="caption" id="contacts-caption-text">Responsive contact list</span>
  <div class="contacts-header thead">
    <span class="th" id="th-name">Name:</span>
    <span class="th" id="th-org">Organization:</span>
    <span class="th" id="th-phone">Phone:</span>
    <span class="th" id="th-email">Email:</span>
  </div>
  <ul class="tbody">
  </ul>
  <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 id="modName" class="modal-title">Name</h4>
        </div>
        <div class="modal-body">
          <p id="modCatchphrase">One fine body&hellip;</p>
          <p id="modBS">One fine body&hellip;</p>
          <p id="modPhone">One fine body&hellip;</p>
          <p id="modEmail">One fine body&hellip;</p>
          <p id="modWebsite">One fine body&hellip;</p>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
